extends home

block content	
 
 include messages
 
 .container(style="margin-top:5%;margin-bottom:7%;")
  .row
    .column
      form(action="/friends",method="post")
       .row
         .column
         .column
          label(for="passkey") Your Passkey
          input.validate(id="passkey" name="passkey" type="text" required)
         .column

       .row
         .column
         .column
          label(for="comp_passkey") Friend's Passkey
          input.validate(id="comp_passkey" name="comp_passkey" type="text" required)
         .column

       .row
         .column
         .column
          label(for="pass_word") Password
          input.validate(id="pass_word" name="password" type="password" required)
         .column

       .row
         .column
         .column
          label(for="pass_word") Confirm Password
          input.validate(id="pass_word2" name="conf_password" type="password" required)
         .column
         
       .row
         .column
         .column
          input(type="submit", value="add")
         .column