doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    title Starter Template - Materialize
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    
    <link rel="stylesheet" href="stylesheets/style.css">
    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">

    <!-- Milligram CSS minified -->
    <link rel="stylesheet" href="stylesheets/milligram.min.css">

    
    
    script(src="/socket.io/socket.io.js")
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src = "/javascripts/main.js")


  body
   nav(role='navigation')
     .nav-wrapper.container
        a HOSTEL PEB
        br
        br
        br
        br
         
   block content      
    .row
      .column
        form(action="/",method="post")
          .row
            .column
            .column-40
              label(for="passkey") Passkey
              input(id="passkey" type="text" name="passkey")
            .column
              
          .row
            .column
            .column-40
              label(for="pass_word") Password
              input(id="pass_word" class="validate" type="password" name="password") 
            .column  
            br
            br          
           .row
              .column
              .column-40
                input.btn.blue(type="submit",value="LogIn",style="float:right;margin-top:1em;margin-right:1em;")
              .column    