doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    title Starter Template - Materialize
    // CSS
    //link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='stylesheets/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='stylesheets/style.css', type='text/css', rel='stylesheet', media='screen,projection')
  body.grey.lighten-5
   nav.red.lighten-1(role='navigation')
     .nav-wrapper.container
        a#logo-container.brand-logo(href='#') Logo
        ul.right.hide-on-med-and-down
         
   block content      
    #index-banner.section.no-pad-bot
      .container
        br
        br
        .row.center
          h5.header.col.s12.light Test Page
        
        br

        .col.s12.m4.offset-m4.l4.offset-l4
         .card.white
          .card-content.black-text
           span.card-title.black-text="Log-In"
          form.s12.m4.offset-m4.l4.offset-l4(action="/",method="post")
            .row
             .input-field.container
              input(id="roll_num" type="text")
              label(for="roll_num") Roll Number

            .row
             .input-field.container
              input(id="pass_word" class="validate" type="password") 
              label(for="pass_word") Password

            br
            br          
            div.actions
             input.btn.blue(type="submit",value="add",style="float:right;margin-top:1em;margin-right:1em;")
    br
    br
  footer.page-footer.indigo.darken-1
    .container-fluid
      .row
        .col.s12.center 
          p(style="color:#fff;") @EHRA 2016
    // Scripts
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='/javascripts/materialize.min.js')
    script(src='/javascripts/init.js')
    script.
     $(document).ready(function(){
      $('select').material_select();
     });

