doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    title Starter Template - Materialize
    // CSS
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='stylesheets/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='stylesheets/style.css', type='text/css', rel='stylesheet', media='screen,projection')
  body
    nav.red.lighten-1(role='navigation')
      .nav-wrapper.container
        a#logo-container.brand-logo(href='#') Logo
        ul.right.hide-on-med-and-down
         
   block content      
    #index-banner.section.no-pad-bot
      .container
        br
        br
        h1.header.center.black-text Base Layout Template
        .row.center
          h5.header.col.s12.light Test Page
        .row.center
          a#download-button.btn-large.waves-effect.waves-light.orange(href='#') Test Button
        br
        br
      
    footer.page-footer.indigo.darken-1
      .container-fluid
        .row
          .col.s12.center 
           p(style="color:#fff;") @EHRA 2016
    // Scripts
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='/javascripts/materialize.min.js')
    //script(src='/javascripts/init.js')
