extends home

block content	
 .container(style="margin-top:5%;margin-bottom:7%;")
  .row
   .col.s12.m8.offset-m2.l8.offset-l2
    .card.white
     .card-content.black-text
      span.card-title Registration

      form(action="/register",method="post")
       .row
        div.input-field.col.s12.m6
         input.validate(id="first_name" name="first_name" type="text")
         label(for="first_name") First Name

        div.input-field.col.s12.m6
         input.validate(id="last_name" name="last_name" type="text")
         label(for="last_name") Last Name

       .row.col.s12
        .file-field.input-field
         .btn.blue 
          span File
          input.validate(type="file" name="photo")
        .file-path-wrapper
         input(class="file-path validate" type="text") 

       .row
        div.input-field.col.s12
         input.validate(id="roll_num" name="roll_number" type="text")
         label(for="roll_num") Roll Number

       .row
        div.input-field.col.s12
         input.validate(id="pass_word" name="password" type="password")
         label(for="roll_num") Roll Number

       .row
        div.input-field.col.s12
         input.validate(id="pass_key" name="pass_key" type="text")
         label(for="pass_key") Passkey

       .row
        label Select Your Branch
        div.input-field.col.s12
         select.validate(name="branch")
          option(value="" disabled) Choose Your Branch
          option(value="1") COE
          option(value="2") ECE
          option(value="3") MEE
          option(value="4") EIC
          option(value="5") CIE
          option(value="6") CHE
          option(value="7") MTX
          option(value="8") ELE
         

       .row.s12
        div.input-field.col.s12
        label Date Of Birth
         input(id="dob" placeholder="Date of Birth" class="datepicker" name="birth_date" type="date")

       .row
        div.input-field.col.s12
         input.validate(id="email_id" name="email" type="email" )
         label(for="email_id") Email-ID
          
       .row
        div.input-field.col.s6
         input.validate(id="mob_num" name="mobile" type="tel" )
         label(for="mob_num") Mobile Number
        div.input-field.col.s6
         input.validate(id="land_num" name="landline" type="tel" )
         label(for="land_num") Landline
       
       .row
        div.input-field.col.s12
          textarea(id="p_address" name="address" class="materialize-textarea")
          label(for="p_address") Permanent Address 
       
       .row
        label Blood Group
        div.input-field.col.s12
         select.validate(name="blood")
          option(value="" disabled) Choose Your Blood Group
          option(value="1") A+
          option(value="2") A-
          option(value="3") B+
          option(value="4") B-
          option(value="5") O+
          option(value="6") O-
          option(value="7") AB+
          option(value="8") AB-
          option(value="9") DON'T KNOW
       .row
        label.col.s12 Father's Details
        div.input-field.col.s6
          input.validate(id="father_name" name="father_name" type="text")
          label(for="father_name") Name
        div.input-field.col.s6
          input.validate(id="father_num" name="father_number" type="text")
          label(for="father_num")  Mobile 

        .row
        label.col.s12 Mother's Details
        div.input-field.col.s6
          input.validate(id="mother_name" name="mother_name" type="text")
          label(for="father_name") Name
        div.input-field.col.s6
          input.validate(id="mother_num" name="mother_number" type="text")
          label(for="father_num")  Mobile   

        .row.col.s12
         label Enter choice for accomodation type
         p
          input(class="filled-in" type="checkbox" name="share_choice" id="filled-in-box" ) 
          label(for="filled-in-box") Check for Group Allotment

       .row
          div.actions
           input(type="submit", value="add")

script. 
 $(document).ready(function() {
    $('select').material_select();
  });

script.
 $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
