doctype html
html(lang='en')
 head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    title Starter Template - Materialize
    <!-- Google Fonts -->
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic")
    
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(href="stylesheets/style.css" rel="stylesheet")
  body
    nav.myNav.navbar(role="navigation")
     .container-fluid
      h4 HostelPEB

mixin print(x,y,name)
 if x <= y
  .col-xs-3.form-group(id = name+x+"div")  
    input(type="radio" name='yolo' id = name+x)
    label(class="label label-default" style="margin-left: 5px; padding:5px; background-color:#3F51B5; font-size: 1em") #{name+x}
 else
   .col-xs-3

mixin rooms(n,num,a,b,c,d)
 while n <= num
  .row(value=n++)
   +print(n,a,"A")
   +print(n,b,"B")
   +print(n,c,"C")
   +print(n,d,"D")

block content
 .container
  .row
   .col-xs-12
    h3 Book Your Room 
   
   .col-xs-4
     button.myBtn.active(id="link1" href="#") Ground Floor
   .col-xs-4
     button.myBtn(id="link2" href="#") First Floor
   .col-xs-4
     button.myBtn(id="link3" href="#") Second Floor 
   
 .container(style="margin-top:5%;margin-bottom:7%;")  
  .row
   //Added method attribute and action is here.
   form(action='/users', method="post",id="myForm")
    #tab1.col-xs-12.well
     +rooms(100,111,111,110,111,111) 
   
    #tab2.col-xs-12.well 
     +rooms(200,217,217,211,214,211)
   
    #tab3.col-xs-12.well
     +rooms(300,317,317,311,314,311)

    input.myBtn(style="float:right; margin-right:10px;background-color:#00C853; color:#f5f5f5;border-radius:2px;" type="submit" value="Book" onclick="op()") 


script(src='https://code.jquery.com/jquery-2.2.0.min.js')
script(src="https://cdn.socket.io/socket.io-1.4.5.js")
script(src = "/javascripts/socket.js")
