extends home
 
mixin print(x,y,name)
 if x < y
  .column
     input(id = name+x type="radio" name='yolo')
     label(class="label-inline") #{name+x}
 else
  .column

mixin rooms(n,num,a,b,c,d)
 while n < num
  .row(value=n++)
   +print(n,a,"A")
   +print(n,b,"B")
   +print(n,c,"C")
   +print(n,d,"D")

block content
 .row
  .column.column-25 
   button(id="link1" href="#") Ground Floor
  .column.column-25
   button(id="link2" href="#") First Floor
  .column.column-50
   button(id="link3" href="#") Second Floor 
   
 .container(style="margin-top:5%;margin-bottom:7%;")  
  form(action='' id="myForm")
    #tab1      
     +rooms(100,111,111,104,111,111) 
   
    #tab2 
     +rooms(200,217,217,211,214,211)
   
    #tab3
     +rooms(300,317,317,311,314,311)
    input(type="submit" value="book" onclick="op()")  
    
 
