extends home
 
mixin print(x,y)
 if x < y
  .column=x
 else
  .column

mixin rooms(n,num,a,b,c,d)
 while n < num
  .row(value=n++)
   +print(n,a)
   +print(n,b)
   +print(n,c)
   +print(n,d)

block content
 .row
  .column 
   a(id="#tab1" onclick="open(this.id)") Ground Floor
  .column
   a(id="#tab2" onclick="open(this.id)") Ist Floor
  .column
   a(id="#tab3" onclick="open(this.id)") IInd Floor 
   
 .container(style="margin-top:5%;margin-bottom:7%;")  
    #tab1      
     +rooms(100,111,111,104,111,111) 
   
    #tab2 
     +rooms(200,217,217,211,214,211)
   
    #tab3
     +rooms(300,317,317,311,314,311)


